"web tech"/exercises/exercise11/backend/node_modules
# Ignore node_modules in the /web tech directory
node_modules/
bin/
obj/

# Ignore executable files and object files
*.exe
*.o
*.layout
*.depend

# Ignore .idea folder
.idea/
*.iml

# Ignore __pycache__ inside the dsa folder
dsa/__pycache__/
*.class

# Ignore any folder named example_folder at any level
out/
