* {
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  .add-blue {
    color: rgb(0, 56, 135);
  }
  .pt-20 {
    padding-top: 20px;
  }
  .bg-gray {
    background-color: rgb(244, 243, 239);
  }
  
  td {
    padding: 5px;
  }
  
  .blog-container {
    flex-direction: column;
  }
  
  .blog-container > div {
    width: 100%;
  }
  .img-container img{
   width: 60%;
   object-fit: cover;
   object-position: top;
  }
  
  @media (min-width: 540px) {
    .blog-container {
      flex-direction: row;
    }
    .blog-container .img-container {
      width: 30%;
    }
    .img-container img{
      width: 80%;
    }
  }